.p-multiselect-label {
    padding: 6px;
}

.p-multiselect {
    width: -webkit-fill-available
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.1rem 0.75rem;
    font-size: 14px;
}